.graphicOverlay {
    min-height: inherit;
    position: relative;
    /*overflow: hidden;*/
}

.hero {
    min-height: 100vh;
    max-height: auto;
    position: relative;
    height: fit-content();
}

.hero .glass {
    min-height: inherit;
    background: rgba(35, 35, 35, 0.38);
    backdrop-filter: blur(63px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.hero .artwork {
    position: absolute;
}

.graphic1 {
    position: absolute;
    top: 0;
    left: 0;
    /*transform: translate(20%, 20%);*/
}

.graphic2 {
    position: absolute;
    right: 0;
    bottom: 0;
}


.styled_title {
    position: relative;
    margin-bottom: 10px;
}

.styled_title p {
    font-size: 128px;
    font-family: var(--leckerliOne) !important;
}

.styled_title h1 {
    position: absolute;
    left: 0;
    top: 100%;
    transform: translate(0%, -150%);
    font-size: 36px;

}

.role {
    font-size: 18px;
    margin: 16px 0;
    font-weight: 500;
}

.brief_intro {
    font-weight: 500;
    line-height: 28px;
    font-weight: 14px;
}