.hero {
    /*position: relative;*/
    overflow-x: hidden;
    background-color: #1D5CE3;
    height: 100dvh;
}
@media screen and (max-height: 568px) {
    .hero{
        height: auto
    }
}

.role {
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0;
}

.brief_intro {
    line-height: 28px;
    font-size: 14px;
}